// Specific CSS for your home-page
*{
  margin:0;
  padding:0;
}
h1 {
  color: $light2;
}

h2 {
  color: $dark2;
}

p {
  color: $dark;
  font-weight: 250;
}

.banner {
 position: relative;
 height: calc(100%-70px);
 background-position: center;
 background-attachment: fixed;
 color: white;
 text-align: center;
}

video {
  // z-index: -1;
  width: 100%;
  height: auto;
}

.title {
  // padding-top: 10%;
  position: absolute;
  top: 40%; right: 0; bottom: 0%; left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: white;
   font-family: 'Rozha One', serif;
   font-size: 100px;
}

.line-one {
  color: white;
}

.line-two {
  padding: 20px;
}

.link {
  font-size: 16px;
  color: $light2;
  font-style: italic;
.link:hover{
  font-size: 16px;
  color: $dark2;
  font-style: bold;
  text-decoration: none;
}
}

.background-image{
 background-image: url('new-home.png');
 height: 100vh;
 background-size: cover;
 background-position: center;
 // background-attachment: fixed;
 color: white;
 text-align: center;
  margin-top: -6px;
}

.inst-card{
  min-width: 200px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: white;
  margin: 25px 20px;
}

.blue-title {
  color: $dark2;
  padding-top: 30px;
}
@media only screen and (max-width: 500px) {
  .main-title {
    font-size: 2.7em;
  }
  .banner-text {
    font-size: 0.7em;
  }
}

