// Specific CSS for your home-page
h1 {
  color: $light2;
}

h2 {
  color: $dark2;
}

p {
  color: $dark;
  font-weight: 250;
  line-height: 1;
}

.banner {
  position: relative;
 height: calc(100%-70px);
 background-position: center;
 // background-attachment: fixed;
 color: white;
 text-align: center;
}

video {
  z-index: -1;
  width: 100%;
  height: auto;
}

.main-title {
  margin-top: 20%;
  position: absolute;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  align-itmes: center;
  justify-content: center;
  color: white;
   font-family: 'Rozha One', serif;
   font-size: 100px;
}

.line-one {
  padding-top: 5%;
  position: absolute;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  align-items: center;
  justify-content: center;
  color: white;
}
.line-two {
  padding-top: 18%;
  position: absolute;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  align-items: center;
  justify-content: center;
}


.main-title {
   font-family: 'Rozha One', serif;
   font-size: 100px;
   color: white;
}

.link {
  font-size: 16px;
  color: $light2;
  font-style: italic;
}

.link:hover{
  font-size: 16px;
  color: $dark2;
  font-style: bold;
  text-decoration: none;
}

.instructions {
  display: flex;
 align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 25px 20%;
}


