// Specific CSS for your home-page
h1 {
  color: $light2;
}

h2 {
  color: $dark2;
}

p {
  color: $dark;
}

.banner {
  position: relative;
 height: calc(100%-70px);
 background-position: center;
 // background-attachment: fixed;
 color: white;
 text-align: center;
}

video {
  z-index: -1;
  width: 100%;
  height: auto;
}

.title{
  margin-top: 20%;
  position: absolute;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  align-itmes: center;
  justify-content: center;
  color: white;
}

.sub-title p {
  padding-top: 30%;
  position: absolute;
  display: flex;
  top: 0; right: 0; bottom: 0; left: 0;
  align-itmes: center;
  justify-content: center;
  color: white;
}

.main-title {
   font-family: 'Rozha One', serif;
   font-size: 100px;
   color: white;
}

link {
  font-size: 16px;
  font-style: bold;
  color: $light;
}
