<h1>All your bookings!</h1>

<% current_user.bookings.each do |booking| %>
  <li> <%=booking.start_time  %> - <%= booking.end_time %> <%= link_to 'See details', booking_path(booking) %></li>
<% end %>
