<h1>All your creatures!</h1>

<% current_user.creatures.each do |creature| %>
  <li> <%=creature.name  %> - <%= creature.description %> <%= link_to 'Go back to creatures', creatures_path %></li>
<% end %>
